@charset "UTF-8";

@font-face{
font-family: 'cinematografica';
src: url('fonte/Cinematografica-Bold-trial.ttf') format('truetype');
}




body{
    max-width: 1000px;
    min-width: 400px;
    background-attachment: fixed;
    background-image: linear-gradient(to right, rgb(98, 91, 91), rgba(0, 0, 0, 0.889) )
   
}

div.conector{
    background-image: url(imagens/D_NQ_NP_823556-MLB44781653006_022021-pp.jpg);
    margin-top: 30px;
    display: inline-block;
    object-fit: cover;
height: 150px;
width: 150px;
border-radius: 50%;
}

div.tela{
background-image: url(imagens/telap.jpg);
margin-left: 175px;
 object-fit: cover;
 display: inline-block;
height: 150px;
width: 150px;
border-radius: 50%;
}
div.bateria{

background-image: url(imagens/th.jpeg);
margin-left: 190px;
height: 150px;
width: 150px;
border-radius: 50%;
display: inline-block;
}


#ajuste{
    background-position:  right;
}


h1{
    color:black;
   font-family: 'cinematografica';

}

h2{
    color: white
} 
h3{
    color: black;
}


p{
    text-align: center;
color:white;
}



li{
    color: white;
}
nav> li{
  box-shadow: 0px 1px 3px rgba(136, 155, 155, 0.527);
}
a{
text-decoration: solid;
color: white
;;
 
}
a:hover{
height: 10px;
background-color: gray;
color: lightblue;
padding: 10px;
border-radius: 5px;
text-decoration: none;
font-weight: bold;
transition-duration: 0.3s;
}
 