@charset "UTF-8";

@font-face{
font-family: 'cinematografica';
src: url('fonte/Cinematografica-Bold-trial.ttf') format('truetype');
}

/*
paleta cinza
#88a194 (cor1)
#a1b9ad (cor2)
#b9d0c6(cor 3)
#d2e8de(cor 4)
#eafff7(cor 5)
*/


body{
    background-image: linear-gradient(to left, lightblue, gray )
    
}

div.conector{
    background-image: url(imagens/D_NQ_NP_823556-MLB44781653006_022021-pp.jpg);
    border-radius: 50%;
    position: absolute;
  bottom: 0;
  width: 150px;
  height: 150px;
}

div.tela{
    background-image: url(imagens/D_NQ_NP_677729-MLA51556434355_092022-p.jpg);
    border-radius: 50%;
    position: absolute;
    bottom: 3px;
  right: 840px;
  width: 150px;
  height: 150px;
}

.tela, .conector{

    
}



h1{
    color:black;
   font-family: 'cinematografica';

}

h2{
    color: white
} 

p{
color:white;
}


ul > li{
    font-family: 'Times New Roman', Times, serif;
border: 1px solid lightskyblue;
border-radius: 5px 10px;
background-color: rgba(220, 220, 220, 0.483);
color: white
}
